
h1, h2, h3{
    text-align: center;
}

.input-medium {
    margin-left: 5%;
}

.form-horizontal, .form {
   text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.btn-sm{
    margin-top: 10px;
    margin-left: 2px;
}

.btn-lg{
    margin-top: 10px;
    margin-bottom: 10px;
}

.perso {
    text-align: center;
}

.control-label{
    margin-left: 10%;
}

table{
    text-align: center;
}

.recherche {
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

fieldset{
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

dt {
    margin-left: 25%;
    margin-right: 50px;
}
